html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    background-color: #f3f3f3;
}

.home {
    text-decoration: none;
    padding: 14px;
    font-size: 40px;
    display: block;
    color: white;
    background-color: #00248b;
    box-shadow: 0 2px 4px 3px rgba(255, 255, 255, 0.6);
}

.title {
    font-size: 50px;
    margin: auto;
}

.randomWord {
    font-size: 41px;
}

.randomType {
    font-size: 25px;
}

.randomDef {
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100vw;
    row-gap: 20px;
}

.card {
    border: 5px solid black;
    width: 90vw;
    padding: 10px; 
    margin-left: 14px;
}