html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    background-color: #bbbbbb;
}

.home {
    text-decoration: none;
    padding: 14px;
    font-size: 40px;
    display: block;
    color: white;
    background-color: #00248b;
    box-shadow: 0px 4px 5px 3px rgba(0, 36, 139, 0.6);
    margin-bottom: 20px;
    transition: 0.729s all;
    text-align: center;
}

.home:hover {
    background-color: #bbbbbb;
    color: black;
    box-shadow: 0px 4px 5px 3px rgba(187, 187, 187, 0.6);
    transform: translate3D(0, -1px, 0) scale(1.03);
    text-decoration: underline;
}

.title {
    font-size: 50px;
    margin: auto;
    display: inline;
}

.subtitle {
    font-size: 41px;
}

.randomWord {
    font-size: 41px;
}

.randomType {
    font-size: 25px;
}

.randomDef {
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100vw;
    row-gap: 20px;
}

.card {
    border: 5px solid black;
    width: 90vw;
    padding: 10px; 
    margin-left: 14px;
    transition: 0.3s all;
    text-decoration: none;
    margin-bottom: 2%;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.01);
}

.card:hover.wordName {
    text-decoration: underline;
}

.form {
    display: inline;
    align-self: center;
}

.search-container {
    display: inline;
    font-size: 50px;
}

.wordSearch {
    color: black;
    font-size: inherit;
    border: 2px solid black;
    transition: 0.3s all;
}

.wordSearch:hover {
    background-color: white;
}

.wordSubmit {
    color: black;
    font-size: inherit;
    transition: 0.3s all;
}

.wordSubmit:hover {
    background-color: white;
}

#random {
    display: block;
    margin-top: 2%;
}

.notFound {
    font-size: 50px;
}

.random-container {
    border: 5px solid black;
    margin-left: 1%;
    margin-right: 1%;
    transition: 0.3s all;
}

.random-container:hover {
    transform: translate3D(0, -1px, 0) scale(1.01);
}

.wordName {
    font-size: 41px;
    font-weight: 569;
}

.wordType {
    font-size: 25px;
}

.wordDef {
    font-size: 35px;
}

.select {
    font-size: inherit;
}

.reset {
    font-size: 50px;
    transition: 0.3s all;
}

.reset:hover {
    background-color: white;
}

#types:hover {
    background-color: #bbbbbb;
    transition: 0s;
}

#types:focus {
    background-color: white;
}

.option {
    background-color: white;
}

.more {
    display: block;
    text-decoration: none;
}

#searching {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.searchForWord {
    margin-top: 2%;
}