{% extends "base.html" %}
{% block title %}Dictionary{% endblock %}

{% block body %}
<p class="title">Search for a word: </p>
<form action="{{ url_for('word')}}" method="post">
    <input type="text" name="searchForWord">
    <input type="submit">
</form>
<p class="title">Random Word: </p>
{% for item in word %}
<p class="randomWord">{{item.hwi.hw}}</p>
<p class="randomType">{{ item.fl }}</p>
{% for def in item.shortdef %}
<p class="randomDef">{{ def }}</p>
{% endfor %}
{% endfor %}
{% endblock %}