{% extends "base.html" %}
{% block title %}{{ search }}{% endblock %}

{% block body %}
<p class="title">Sort word by category :</p>
<form class="form" action="{{ url_for('types') }}" method="post">
    <div class="search-container">
        <select class="wordSearch" name="typeSelector" id="types">
            {% for type in types %}
            <option class='select option' value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <input class="wordSubmit" type="submit">
    </div>
</form>
<a href="../word/{{search}}"><button class="reset select">Reset to None</button></a>
<h2>Currently sorting by: {{ type }}</h2>


{% if type in types %}

<div class="flex-container">
    {% for item in word %}

    {% if type in item.fl %}
    <div class="card">

        <p class="wordName">{{item.hwi.hw}}</p>
        <p class="wordType">{{ item.fl }}</p>
        {% for def in item.shortdef %}
        <p class="wordDef">{{ loop.index }}. {{ def }}</p>
        {% endfor %}
    </div>

    {% endif %}

    {% endfor %}
</div>
{% else %}
<div class="flex-container">

    {% for item in word %}
    <div class="card">
        <p class="wordName">{{item.hwi.hw}}</p>
        <p class="wordType">{{ item.fl }}</p>
        {% for def in item.shortdef %}
        <p class="wordDef">{{ loop.index }}. {{ def }}</p>
        {% endfor %}
    </div>

    {% endfor %}
</div>

{% endif %}

{% endblock %}