{% extends "base.html" %}
{% block title %}Dictionary{% endblock %}

{% block body %}
<h3>Sort word by category :</h3>
<form action="{{ url_for('types') }}" method="post">
    <label for="types">Choose:</label>
    <select name="typeSelector" id="types">
        {% for type in types %}
        <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>
<a href="../word/{{search}}"><button class="reset">Reset to None</button></a>
<h2>Currently sorting by: {{ type }}</h2>


{% if type in types %}

<div class="flex-container">
    {% for item in word %}

    {% if type in item.fl %}
    <div class="card">

        <p>{{item.hwi.hw}}</p>
        <p>{{ item.fl }}</p>
        {% for def in item.shortdef %}
        <p>{{ loop.index }}. {{ def }}</p>
        {% endfor %}
    </div>

    {% endif %}

    {% endfor %}
</div>
{% else %}
<div class="flex-container">

    {% for item in word %}
    <div class="card">
        <p>{{item.hwi.hw}}</p>
        <p>{{ item.fl }}</p>
        {% for def in item.shortdef %}
        <p>{{ loop.index }}. {{ def }}</p>
        {% endfor %}
    </div>

    {% endfor %}
</div>

{% endif %}

{% endblock %}